rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() && request.auth.token.email == 'admin@payqist.com';
    }

    match /product-images/{userId}/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin() || (isSignedIn() && request.auth.uid == userId);
    }
  }
}